<% include template/header %>
    <!-- lead -->
		<a class="ish-row ish-fullrow ish-lead" href="">
			<div class="ish-lead__image" >
				<img src="./images/header.jpeg" class="cangiua" alt="work in silent" style="width:1200px;height:800px;">
			</div>
			<h1 class="ish-lead__headline">
				<span class="ish-lead__headline-inner">Quản Lý Sách</span>
			</h1>
		</a>
		<!-- lead end -->
        
    <div class="container" style="font-size: xx-large; font-family: Arial, Helvetica, sans-serif; margin-top: 106px; margin-bottom: 57px;"><strong>
        Web được thiết kế bởi Trương Quang Thịnh 20194179. Sử dụng NodeJS, Bootstrap 4, NPM,...</strong>
    </div>

	<div class="responsive">
		<div class="gallery">
			<div class="ish-lead__image" >
				<img src="./images/npm.png" class="cangiua" alt="work in silent" style="width:1000px;height:700px; margin-top: 10px;">
			</div>
		</div>	
	</div>	
	<div class="responsive">
		<div class="gallery">
			<div class="ish-lead__image" >
				<img src="./images/bootstrap4.png" class="cangiua" alt="work in silent" style="width:1000px;height:700px; margin-bottom: 100px;">
			</div>
		</div>	
	</div>	
	
	
	
	<!-- <div class="ish-lead__image" >
       
    </div> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<% include template/footer %>