<!doctype html>
<html lang="en">
  <head>
    <title>title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  </head>
  <body style="background-color: rgb(220, 230, 180);">
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #957407;">
        <a class="navbar-brand" href="#">Cập nhật dữ liệu</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                <a class="nav-link" href="/">Trang chủ </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/them">Thêm dữ liệu mới</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/xem">Xem dữ liệu </a>
                </li>
                
                
            </ul>
            
        </div>
    </nav>
    <div class="container" style="background-color: #ffffff;">
      <div class="jumbotron text-center" style="background-color: #ffffff;">
        <h1 class="display-3" style="background-color: rgb(255, 255, 255);"><strong>THÊM MỘT SẢN PHẨM MỚI</h1>
        <p class="lead"></p>
        <hr class="my-2">
        </p>
      </div>
      <form action="/them" method="post" >
        
        <div class="form-group">
          <label for="tieude">Tiêu đề sản phẩm:</label>
          <input type="text"
            class="form-control" name="tieude" id="" aria-describedby="helpId" placeholder="Tiêu đề sản phẩm">
        </div>

        <div class="form-group">
          <label for="cus">Hướng tới khách hàng:</label>
          <input type="text"
            class="form-control" name="cus" id="" aria-describedby="helpId" placeholder="Khách hàng">       
        </div>

        <div class="form-group">
          <label for="price">Giá tiền sản phẩm:</label>
          <input type="text"
            class="form-control" name="price" id="" aria-describedby="helpId" placeholder="VNĐ">
        </div>

        <div class="form-group">
          <label for="cat">Danh mục sản phẩm:</label>
          <input type="text"
            class="form-control" name="cat" id="" aria-describedby="helpId" placeholder="Danh mục">
        </div>
        
        <div class="form-group">
          <label for="desc">Mô tả sản phẩm:</label>
          <input type="text"
            class="form-control" name="desc" id="" aria-describedby="helpId" placeholder="Mô tả">
        </div>

        <div class="form-group">
          <label for="location">Vị trí sản phẩm:</label>
          <input type="text"
            class="form-control" name="location" id="" aria-describedby="helpId" placeholder="Vị trí">
        </div>

        

        <button type="submit" class="btn btn-primary" >Submit thông tin</button>

        <ul class="list-unstyled">
          <li class="media">
            <a class="d-flex" href="#">
              <img src="" alt="">
            </a>
            <div class="media-body">
              <h5 style="color: rgb(138, 0, 0);">Nhập thông tin sản phẩm cho Website quản lý sách</h5>
              SĐT: 0374 703 042
              Gmail: quangthinh0101@gmail.com
            </div>
          </li>
        </ul>
      </form>
    </div>
  <body>
    


    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
</html>