<!-- footer -->

		<!-- footer end -->


	
	</div>

	

	<!-- sidenav -->
	<div class="ish-sidenav">
		<div class="ish-sidenav-inner">

			<div class="ish-sidenav-menu">
				<a href="" class="ish-sidenav-menu__icon">
					<div id="nav-icon3">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- sidenav end -->



	<!-- floated nav & search -->
	<div class="ish-navigation">

		<a class="ish-navigation__close-btn ish-icon-cancel" href="#close">
			<span class="ish-navigation__close-btn-desc">Close ( ESC )</span>
		</a>

		<ul class="ish-navigation__menu">

			<li class="ish-navigation__item">
				<a href="about" class="ish-navigation__link" style="font-size: larger;" ><strong>We</strong></a>
				<ul>
					<li><a href="about" style="color: azure;">About Us</a></li>
					<li><a href="our-team" style="color: azure;">Our Team</a></li>
				</ul>
			</li>

			<li class="ish-navigation__item">
				<a href="https://www.google.com/maps/dir//ti%E1%BB%87m+s%C3%A1ch+c%C5%A9/@18.3405511,105.87967,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x31384e69ee5945f3:0x8ffcdc138ac6f239!2m2!1d105.8986544!2d18.3504303" class="ish-navigation__link" style="font-size: larger;"><strong>Pages</strong></a>
				<ul>
					<li><a href="https://www.google.com/maps/dir//ti%E1%BB%87m+s%C3%A1ch+c%C5%A9/@18.3405511,105.87967,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x31384e69ee5945f3:0x8ffcdc138ac6f239!2m2!1d105.8986544!2d18.3504303" style="color: azure;">Find the Way</a></li>
					<li><a href="search-results.html" style="color: azure;">Search Results</a></li>
				</ul>
			</li>


			<li class="ish-navigation__item ish-navigation__item--search-form">
				<form role="search" method="get" class="ish-navigation__search-form" action="search-results.html">
					<button type="submit" class="ish-navigation__search-btn"><i class="ish-icon-search"></i></button>
					<input type="text" value="" name="search" class="ish-navigation__search-field" placeholder="Type text and press enter">
					<i class="ish-navigation__search-close ish-icon-cancel"></i>
				</form>
			</li>

		</ul>

	</div>
	<!-- floated nav & search end -->



	<!-- resp bottom navigation -->
	<div class="ish-resp-nav">
		<a class="ish-resp-nav__icon ish-resp-nav__icon--sidebar ish-icon-list-add" href=""></a>
		<a class="ish-resp-nav__icon ish-resp-nav__icon--nav ish-icon-article" href=""></a>
		<a class="ish-resp-nav__icon ish-resp-nav__icon--btt ish-icon-up" href=""></a>
	</div>
	<!-- resp bottom navigation end -->

</div>

<script src="/javascripts/plugins/plugins.js"></script>
<script src="/javascripts/main.js"></script>

</body>
</html>
