<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Trang chủ web quản lý Sách</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<style>
			div.gallery img {
			width: 100%;
			height: auto;
		}
	</style>
	<link rel="stylesheet" href="stylesheets/vendor.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="ish--hc1 ish--htc2">


<div class="ish-wrapper">

	<div class="ish-wrapper__inner">



		<!-- header -->
		<header class="ish-row ish-header">
			<div class="ish-header__logo">
				<a class="ish-header__link" href="./">Thư Viện <span>|</span> Sách</a>
			</div>
			<div class="ish-header__tagline" style="font-size: medium;margin-right: -2px; color: rgb(41, 39, 141);"><strong>
				&nbsp;&nbsp;Mở rộng</strong>
			</div>
		</header>
		<!-- header end -->
